[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/dark_rainbow"]
	path = themes/dark_rainbow
	url = https://github.com/tylerbutler/dark_rainbow_hugo.git
