{% extends 'theme/template_page_simple.html' %}

{% block page_title %}About{% endblock %}

{% block content %}
    <h2>Early Life</h2>

    <p>Tyler Butler was born in the spring of 1982 in Louisville, Kentucky.
        His parents took him to Papua New Guinea when he was six months old,
        which is where he spent most of his childhood. He lived in a small village
        called Likan along with his parents, and later, his sister.</p>

    <p>He spent a lot of time with the other village children and learned to speak a
        language called Tok Pisin, a language spoken throughout most of Papua New Guinea.
        He also learned how to shoot a homemade sling shot and bow and arrow, and attempted
        to learn how to climb coconut trees. Unfortunately this proved more difficult than
        he anticipated, and the skill eludes him even now.</p>

    <h2>Education</h2>

    <p>Tyler was home schooled by his mother for most of his early elementary school years.
        In junior high, a teacher came to Likan and taught Tyler and his sister, which took
        some of the burden off of his mother.</p>

    <p>In high school, Tyler moved to Ukarumpa, a village in the Eastern Highlands Province and attended Ukarumpa
        International School. There, he took classes in preparation for college back in the United States.</p>

    <p>In 2000, Tyler graduated from Ukarumpa International School and moved from the lush jungle of
        Papua New Guinea to the concrete jungle of Chicago, where he attended the
        <a href="http://www.iit.edu">Illinois Institute of Technology</a>, majoring in Computer Science.
        While there, Tyler performed undergraduate research in the field of pervasive computing
        and location-aware computing, a field which should be familiar to most people with
        the advent of location-aware phones and applications.</p>

    <p>Tyler graduated with a B.S. in Computer Science in 2004, and began graduate studies in the fall of that year.
        However, he became disinterested in continuing his studies and began searching for a permanent job.</p>
{% endblock %}
