{% extends 'theme/template_page_simple.html' %}

{% block page_title %}Projects{% endblock %}

{#{% block nav_secondary_content %}#}
{#    <ul>#}
{#        <li><a href="{{ urlname('projects/engineer') }}">Engineer</a></li>#}
{#    </ul>#}
{#{% endblock %}#}

{% block content %}
    <article>
        {% filter markdown %}
            ##[Engineer][]

            A static blog engine written in Python. tylerbutler.com was built using Engineer, and your site can be too!

            
            ##[tylerbutler.com][]

            The very site you're looking at is a sandbox for various web experiments. (Sounds a lot more sinister 
            than it is.)

            
            ##[ReadyCheck][]

            A [Django][]-based web application to organize and manage World of Warcraft raids.

            [Engineer]: {{ urlname('projects/engineer') }}
            [ReadyCheck]: {{ urlname('projects/readycheck') }}
            [Django]: https://www.djangoproject.com/
            [tylerbutler.com]: {{ urlname('projects/tylerbutler_com') }}
        {% endfilter %}
    </article>
{% endblock %}
