{% extends 'theme/template_page_simple.html' %}

{% block page_title %}tylerbutler.com{% endblock %}

{% block content %}
    <article>
        {% filter markdown %}
            ## Overview

            tylerbutler.com is built using [Engineer][] and serves as a playground or sandbox for various
            web applications and ideas I am playing around with, along with occasional articles or links.

            The source for the Engineer pieces of the site are [on github][1]. The articles themselves are
            stored in Dropbox and synchronized between all of my devices, so I can write anywhere.

            [Engineer]: {{ urlname('projects/engineer') }}
            [1]: https://github.com/tylerbutler/tylerbutler.com

        {% endfilter %}
    </article>
{% endblock %}
