---
import Navigation from './Navigation.astro';
---

<header class="site-header">
  <Navigation />
  <h1><a href="/">Tyler Butler</a></h1>
  <p class="tagline">I'm Tyler Butler: a big man with small dogs.</p>
</header>