<h2 class="hide-on-phones">you might remember me from</h2>
<ul class="hide-on-phones">
  {{ range $.Site.Menus.sidebarbottom }}
    <li><a href="{{ .URL }}" rel="me">{{ .Name }}</a></li>
  {{ end }}
</ul>
<ul style="display: none">
  <li><a class="u-url" href="https://tylerbutler.com/" rel="me">tylerbutler.com</a></li>
  <li><a class="u-email" href="mailto:tyler@tylerbutler.com">tyler@tylerbutler.com</a></li>
  <li class="p-nickname">tylerbutler</li>
</ul>

<!-- And here's that weird floating div I told you about in site-sidebar-top.html... -->
</div>
