{% from 'core/_macros.html' import navigation_link with context %}

{{ navigation_link('articles', urlname('home'), ['post', 'listpage']) }}
{{ navigation_link('projects', urlname('projects'), ['projects',
                                                         'projects/engineer',
                                                         'projects/readycheck',
                                                         'projects/tylerbutler_com',
                                                         'projects/xkcd2']) }}
{#    {{ navigation_link('professional', urlname('professional'), ['professional']) }}#}
