<section>
    <div>
        <p class="hide-on-phones">I'm <a href="{{ urlname('about') }}">Tyler Butler</a>: a big man with small dogs.</p>
        <hr class="hide-on-phones"/>
        <nav>
            <ul>
                <li><a href="{{ urlname('feed') }}">feed</a></li>
                <li><a href="{{ urlname('archives') }}">archives</a></li>
                <li><a href="{{ urlname('colophon') }}">colophon</a></li>
            </ul>
        </nav>
        <hr class="hide-on-phones"/>
        <h2 class="hide-on-phones">you might remember me from</h2>
        <ul class="hide-on-phones">
            <li><a href="http://twitter.com/tylerbutler">twitter</a></li>
            <li><a href="http://github.com/tylerbutler">github</a></li>
        </ul>
    </div>
</section>

{% include 'snippets/_search.html' ignore missing %}
