<section>
    <div>
        <p>I'm <a href="{{ urlname('about') }}">Tyler Butler</a>: a big man with small dogs.</p>
        <hr/>
        <nav>
            <ul>
                <li><a href="{{ urlname('feed') }}">feed</a></li>
                <li><a href="{{ urlname('archives') }}">archives</a></li>
                <li><a href="{{ urlname('colophon') }}">colophon</a></li>
            </ul>
        </nav>
        <hr/>
        <h2>you might remember me from</h2>
        <ul>
            <li><a href="http://twitter.com/tylerbutler">twitter</a></li>
            <li><a href="http://github.com/tylerbutler">github</a></li>
            <li><a href="http://bitbucket.org/tylerbutler">bitbucket</a></li>
        </ul>
    </div>
</section>

{% include "_twitter.html" %}
