---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../lib/styles/global.css';

export interface Props {
  title?: string;
  description?: string;
}

const { title = "Tyler Butler", description = "Personal website and blog of Tyler Butler" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="https://use.typekit.net/zsx5vsn.css" />
  </head>
  <body>
    <div class="site-container">
      <Header />
      <main class="content-section">
        <div class="content-inner">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>